<!DOCTYPE html>
<html>
<head>
	<title>Change age of student</title>
</head>
<body>
	<form action="/student/agechanged" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="new_age" placeholder="New age">
    <button type="submit">Save</button>
  </form>
</body>
</html>